<div class="about-us">
  <p>
    Ysi Probamos es un emprendimiento familiar que nació en 2020 con la misión
    de compartir nuestra pasión por la repostería y panadería. Desde nuestros
    humildes comienzos, hemos crecido significativamente, expandiendo nuestro
    catálogo de productos para ofrecer una amplia variedad de tortas y panes,
    elaborados con amor y dedicación. Nuestra historia comenzó en la cocina de
    nuestro hogar, donde experimentábamos con recetas tradicionales y creaciones
    innovadoras. Hoy en día, Ysi Probamos se ha convertido en una marca
    reconocida por la calidad y sabor de sus productos. Nos enorgullece poder
    brindar a nuestros clientes una experiencia única en cada bocado. En Ysi
    Probamos, valoramos la frescura y la autenticidad. Utilizamos ingredientes
    de la más alta calidad para asegurarnos de que cada torta y pan que sale de
    nuestro horno sea una obra maestra. Ya sea para una celebración especial o
    simplemente para disfrutar en el día a día, nuestros productos están
    diseñados para deleitar y satisfacer a nuestros clientes. Agradecemos a
    todos los que han sido parte de nuestro viaje y nos han apoyado a lo largo
    de los años. Estamos comprometidos a seguir creciendo y mejorando, siempre
    con el objetivo de llevar la mejor repostería y panadería a tu mesa.
    ¡Gracias por confiar en nosotros y permitirnos ser parte de tus momentos más
    dulces!
  </p>
</div>
