h3 {
  margin: 1em 0em;
}
img {
  height: 100px;
  width: 100px;
}
tr {
  text-align: center;
}
td {
  vertical-align: middle;
}

.container-input-button {
  display: flex;
}
.btn-buy {
  margin-left: 5px;
}

.offer {
  border-bottom: 3px solid #198754;
}
